{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}

<h1 style="color:white">Listando las noticias</h1>

{% endblock %}

{% block cuerpo %}

{% for new in object_list %}

<li>{{new}}</li>

<button>
    <a href="{% url 'new_detalle' new.id %}">DETALLE</a>
</button>

<button>
    <a href="{% url 'new_editar' new.id %}">EDITAR</a>
</button>

<button>
    <a href="{% url 'new_borrar' new.id %}">BORRAR</a>
</button>

{% endfor %}

 <p>
    <a href="{% url 'new_crear' %}">CREAR</a>
</p>

{% endblock %}

